<%= link_to 'Back to Authors', authors_path %>

<h3> Create New Author </h3>

</br>

	<%= form_for @author do |f|%>
	<table class = "container">
		<tr>
	    <td><%= f.label :Name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
	    <td><%= f.label :Title %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
	    <td><%= f.label :Email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
	    <td><%= f.label :Description %></td>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr>
			<td><%= f.label :Cover_Picture %></td>
			<td><%= f.file_field :image %></td>
		</tr>
		<tr>
	    <td><%= f.submit "Create" %></td>
	  </tr>
	  </table>
	<%end%>


<% if @author.errors.any? %>
	<h4><%= pluralize(@author.errors.count, "error")%> prohibited this from being created: </h4> 
	<% @author.errors.full_messages.each do |msg| %>
		<%= msg %></br>
	<%end%>
<%end%>

